<form name="form"
      ng-submit="submit()" novalidate>
  <div class="form-group"
       ng-class="{ 'has-error' : (errors.title || form.title.$error.required) && !form.title.$pristine }">
    <label for="title" class="sr-only control-label">Note title</label>
    <div>
      <!--angular directive focusOnShow watches ng-show -->
      <input ng-disabled="statictitle" type="text" class="form-control" id="title" name="title"
             fe-auto-focus
             placeholder="Note title"
             ng-model="entity.title" required>
            <span ng-show="form.title.$error.required && !form.title.$pristine"
                  class="help-block">Title is required.</span>

      <div ng-show="errors.title" ng-repeat="error in errors.title">
        <span class="help-block">Title {{error}}</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="text" class="sr-only control-label">Note Text</label>
    <div>
      <!--angular directive focusOnShow watches ng-show -->
      <textarea ng-if="statictitle" class="form-control" id="text" name="text"
                fe-auto-focus
                placeholder="Note text"
                ng-model="entity.text"  rows="5"></textarea>
      <textarea ng-if="!statictitle" class="form-control" id="text" name="text"
                placeholder="Note text"
                ng-model="entity.text"  rows="5"></textarea>

    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine || form.$invalid">{{ok}}</button>
    <button type="Button" class="btn btn-info" ng-click="cancel()">Cancel</button>
  </div>
  <!--Other problems-->
  <div ng-show="errors.other" ng-repeat="error in errors.other">
    <span class="help-block">{{error}}</span>
  </div>
</form>
